@font-face{
    font-family: "BebasNeueBook";
    src: url('fonts/BebasNeueBook.otf') format("opentype");
}

@font-face{
    font-family: "BebasNeueBold";
    src: url('fonts/BebasNeueBold.otf') format("opentype");
}

.logo {
 	width: 300px;
  	display: block;
  	margin-left: auto;
  	margin-right: auto;
	margin-top: 100px;
}
.centered {
  	margin-left: auto;
  	margin-right: auto;
}

a {
  color: inherit; /* blue colors for links too */
  text-decoration: inherit; /* no underline */
}
p a:hover {
  color: #BF3042;
}

p.name {
text-align: center;
font-family: BebasNeueBook;
font-size: 72px;
color: #5C5C5C;
letter-spacing: 4.5px;
line-height: 30px;
}

p.more {
text-align: center;
font-family: BebasNeueBook;
font-size: 48px;
color: #AFAFAF;
letter-spacing: 4.5px;
line-height: 43px;
}


/* resume: */
p.menu {
text-align: center;
font-family: BebasNeueBold;
font-size: 36px;
color: #EC465B;
letter-spacing: 3px;
line-height: 60px;
}


/* stephen@silber.io • : */
p.subtext {
margin-top: -50px;
text-align: center;
font-family: BebasNeueBook;
font-size: 24px;
color: #5C5C5C;
letter-spacing: 2px;
}

svg,
img {
  display: block;
  width:300px;
  max-width: 100%;
  max-height:300px;
  height: auto;
}


/* Path 5: */
background: #EC465B;
/* Path 6: */
background: #EC465B;


/* HOVER
* {
  box-sizing: inherit;
  transition-property: all;
  transition-duration: .6s;
  transition-timing-function: ease;
}

.buttons {
  display: table;
  height: 100%;
  width: 100%;
}

.container {
  display: table-cell;
  padding: 1em;
  text-align: center;
  vertical-align: middle;
}

p {
  color: #EC465B;
  font-size: 12px;
}
@media (min-width: 600px) {
  p {
    left: 50%;
    position: absolute;
    transform: translate(-50%, 0);
    top: 90%;
  }
}
@media (max-height: 500px) {
  p {
    left: 0;
    position: relative;
    top: 0;
    transform: translate(0, 0);
  }
}
p a {
  background: rgba(255, 255, 255, 0);
  border-bottom: 1px solid;
  color: #EC465B;
  line-height: 1.4;
  padding: .25em;
  text-decoration: none;
}
p a:hover {
  background: white;
  color: #EC465B;
}

.btn {
  color: #fff;
  cursor: pointer;
  display: block;
  font-size: 16px;
  font-weight: 400;
  line-height: 45px;
  margin: 0 auto 2em;
  max-width: 160px;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  vertical-align: middle;
  width: 100%;
}
@media (min-width: 400px) {
  .btn {
    display: inline-block;
    margin-right: 2.5em;
  }
  .btn:nth-of-type(even) {
    margin-right: 0;
  }
}
@media (min-width: 600px) {
  .btn:nth-of-type(even) {
    margin-right: 2.5em;
  }
  .btn:nth-of-type(5) {
    margin-right: 0;
  }
}
.btn:hover {
  text-decoration: none;
}

.btn-1 {
  background: #e02c26;
  font-weight: 100;
}
.btn-1 svg {
  height: 45px;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}
.btn-1 rect {
  fill: none;
  stroke: #fff;
  stroke-width: 1;
  stroke-dasharray: 422, 0;
}

.btn-1:hover {
  background: rgba(225, 51, 45, 0);
  font-weight: 900;
  letter-spacing: 1px;
}
.btn-1:hover rect {
  stroke-width: 5;
  stroke-dasharray: 15, 310;
  stroke-dashoffset: 48;
  transition: all 1.35s cubic-bezier(0.19, 1, 0.22, 1);
}

*/
